<?xml version="1.0"?>
<!--
  ~ @copyright   Velou, 2024
  ~ @package     Velou_DataFeed
  ~ @author      Duleep Thivanka <duleepthivanka@gamil.com>
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="velou" translate="label" sortOrder="700">
            <label>Velou</label>
        </tab>
        <section id="velou_config" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Velou Configuration</label>
            <tab>velou</tab>
            <resource>Velou_DataFeed::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Required Settings</label>
                <attribute type="expanded">1</attribute>
                <field id="module_enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_host_url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Host Url</label>
                </field>
                <field id="store_id" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Id</label>
                </field>
                <field id="api_key" translate="label comment" type="password" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>
            </group>
            <group id="data_sync" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Data Sync</label>
                <attribute type="expanded">1</attribute>
                <field id="catalog_sync" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Catalog Sync Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="catalog_custom_attribute_to_sync" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product attributes to sync</label>
                    <comment>Comma separated list of product attribute codes to sync. Ex: material,pattern,climate</comment>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Catalog Sync Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Velou\DataFeed\Model\System\Config\CatalogSyncCronConfig</backend_model>
                    <comment>Configure how often all products should be sync with Velou. Recommended Daily</comment>
                </field>
                <field id="time" translate="label comment" sortOrder="27" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Catalog Sync Start Time</label>
                </field>
                <field id="catalog_data_sync_btn" type="button" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Velou\DataFeed\Block\Adminhtml\Form\Field\Sync\CatalogData</frontend_model>
                    <label>Sync Catalog Data</label>
                    <comment>Click here to sync all catalog data with Velou</comment>
                </field>
                <field id="order_sync" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Sync Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="data_sync_retry_frequency" translate="label comment" sortOrder="40" type="select" showInDefault="1">
                    <label>Data Sync Retry Frequency</label>
                    <source_model>Velou\DataFeed\Model\System\Config\Source\RetryFrequency</source_model>
                    <comment>Configure how often sync retry should happen in event of a failure.</comment>
                </field>
            </group>
        </section>
    </system>
</config>

